.calculator {
    width: 600px;
    height: 600px;
    background-color: aliceblue;
    margin: 0 auto;    
    float: none;
    padding: 30px 15px;
    margin-top: 40px;
}

.input-group {
    margin-bottom: 20px;;
}

h2 , h5 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 20px;
}

*{
    outline: 0;
}